<?xml version="1.0"?>
<config>
    <modules>
        <Adodis_Customizeshirt>
            <version>0.5.0</version>
        </Adodis_Customizeshirt>
    </modules>
    <frontend>
        <routers>
            <customizeshirt>
                <use>standard</use>
                <args>
                    <module>Adodis_Customizeshirt</module>
                    <frontName>customizeshirt</frontName>
                </args>
            </customizeshirt>
        </routers>
        <layout>
            <updates>
                <customizeshirt>
                    <file>customizeshirt.xml</file>
                </customizeshirt>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customizeshirt>
				<use>admin</use>
				<args>
					<module>Adodis_Customizeshirt</module>
					<frontName>customizeshirt</frontName>
				</args>
			</customizeshirt>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customizeshirt module="customizeshirt">
				<title>Customizeshirt</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="customizeshirt">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>customizeshirt/adminhtml_customizeshirt</action>
					</items>
					<managecollar module="customizeshirt">
						<title>Manage Collar</title>
						<sort_order>1</sort_order>
						<action>customizeshirt/adminhtml_collar</action>
					</managecollar>
					<managecuff module="customizeshirt">
						<title>Manage Cuff</title>
						<sort_order>2</sort_order>
						<action>customizeshirt/adminhtml_cuff</action>
					</managecuff>	
					<managefront module="customizeshirt">
						<title>Manage Front</title>
						<sort_order>3</sort_order>
						<action>customizeshirt/adminhtml_front</action>
					</managefront>
					<manageshoulder module="customizeshirt">
						<title>Manage Shoulder</title>
						<sort_order>4</sort_order>
						<action>customizeshirt/adminhtml_shoulder</action>
					</manageshoulder>
					<managesleeve module="customizeshirt">
						<title>Manage Sleeve</title>
						<sort_order>5</sort_order>
						<action>customizeshirt/adminhtml_sleeve</action>
					</managesleeve>
					<managebutton module="customizeshirt">
						<title>Manage Button</title>
						<sort_order>6</sort_order>
						<action>customizeshirt/adminhtml_button</action>
					</managebutton>
					<managepocket module="customizeshirt">
						<title>Manage Pocket</title>
						<sort_order>7</sort_order>
						<action>customizeshirt/adminhtml_pocket</action>
					</managepocket>
					<manageback module="customizeshirt">
						<title>Manage Back</title>
						<sort_order>8</sort_order>
						<action>customizeshirt/adminhtml_back</action>
					</manageback>
					<personalize module="customizeshirt">
						<title>Personalize</title>
						<sort_order>9</sort_order>
						<children>
							<managemonolabel module="customizeshirt">
							<title>Manage Monogram / Label</title>
							<sort_order>1</sort_order>
							<action>customizeshirt/adminhtml_monolabel</action>
							</managemonolabel>
							<manageembroidery module="customizeshirt">
							<title>Manage Embroidery style</title>
							<sort_order>2</sort_order>
							<action>customizeshirt/adminhtml_embroidery</action>
							</manageembroidery>
						</children>
					</personalize>
				</children>
			</customizeshirt>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<!--<Adodis_Customizeshirt>
							<title>Customizeshirt Module</title>
							<sort_order>10</sort_order>
						</Adodis_Customizeshirt>-->
						<customizeshirt module="customizeshirt">
						<title>Customizeshirt</title>
						<sort_order>71</sort_order>               
						<children>
							<items module="customizeshirt">
								<title>Manage Items</title>
								<sort_order>0</sort_order>
							</items>
							<managecollar module="customizeshirt">
								<title>Manage Collar</title>
								<sort_order>10</sort_order>
							</managecollar>
							<managecuff module="customizeshirt">
								<title>Manage Cuff</title>
								<sort_order>20</sort_order>
							</managecuff>
							<managefront module="customizeshirt">
								<title>Manage Front</title>
								<sort_order>30</sort_order>
							</managefront>	
							<manageshoulder module="customizeshirt">
								<title>Manage Shoulder</title>
								<sort_order>40</sort_order>
							</manageshoulder>
							
							<managebutton module="customizeshirt">
								<title>Manage Button</title>
								<sort_order>50</sort_order>
							</managebutton>
							<managepocket module="customizeshirt">
								<title>Manage Pocket</title>
								<sort_order>60</sort_order>
							</managepocket>
							<manageback module="customizeshirt">
								<title>Manage Back</title>
								<sort_order>70</sort_order>
							</manageback>
							
							<personalize module="customizeshirt">
								<title>Personalize</title>
								<sort_order>80</sort_order>
								<children>
									<managemonolabel module="customizeshirt">
									<title>Manage Monogram / Label</title>
									<sort_order>10</sort_order>
									</managemonolabel>
									<manageembroidery module="customizeshirt">
									<title>Manage Embroidery style</title>
									<sort_order>20</sort_order>
									</manageembroidery>
								</children>
							</personalize>
						</children>
					</customizeshirt>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customizeshirt>
					<file>customizeshirt.xml</file>
				</customizeshirt>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<events>
             <checkout_cart_product_add_after>
                    <observers>
                            <checkout_cart_observer>
                                    <type>singleton</type>
                                    <class>Adodis_Customizeshirt_Model_Observer</class>
                                    <method>cartCustomAddition</method>
                            </checkout_cart_observer>
                     </observers>
             </checkout_cart_product_add_after>
			 <sales_order_place_after>
                    <observers>
                            <sales_order_observer>
                                    <type>singleton</type>
                                    <class>Adodis_Customizeshirt_Model_Observer</class>
                                    <method>placeorderCustomAddition</method>
                            </sales_order_observer>
                     </observers>
             </sales_order_place_after>
        </events>
        <models>
            <customizeshirt>
                <class>Adodis_Customizeshirt_Model</class>
                <resourceModel>customizeshirt_mysql4</resourceModel>
            </customizeshirt>
            <customizeshirt_mysql4>
                <class>Adodis_Customizeshirt_Model_Mysql4</class>
                <entities>
                    <customizeshirt>
                        <table>customizeshirt</table>
                    </customizeshirt>
					<collar>
                        <table>customizeshirt_collar</table>
                    </collar>
					<cuff>
                        <table>customizeshirt_cuff</table>
                    </cuff>
					<front>
                        <table>customizeshirt_front</table>
                    </front>
					<shoulder>
                        <table>customizeshirt_shoulder</table>
                    </shoulder>
                    <sleeve>
                    	<table>customizeshirt_sleeve</table>
                    </sleeve>
					<button>
                    	<table>customizeshirt_button</table>
                    </button>
					<pocket>
                    	<table>customizeshirt_pocket</table>
                    </pocket>
					<back>
                    	<table>customizeshirt_back</table>
                    </back>
					<monolabel>
                        <table>customizeshirt_monolabel</table>
                    </monolabel>
					<embroidery>
                        <table>customizeshirt_embroidery</table>
                    </embroidery>
                </entities>
            </customizeshirt_mysql4>
        </models>
        <resources>
            <customizeshirt_setup>
                <setup>
                    <module>Adodis_Customizeshirt</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customizeshirt_setup>
            <customizeshirt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customizeshirt_write>
            <customizeshirt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customizeshirt_read>
        </resources>
        <blocks>
            <customizeshirt>
                <class>Adodis_Customizeshirt_Block</class>
            </customizeshirt>
        </blocks>
        <helpers>
            <customizeshirt>
                <class>Adodis_Customizeshirt_Helper</class>
            </customizeshirt>
        </helpers>
    </global>
</config>