<?xml version="1.0"?>
<config>
    <modules>
        <Jextn_Faq>
            <version>0.1.0</version>
        </Jextn_Faq>
    </modules>
    <frontend>
        <routers>
            <faq>
                <use>standard</use>
                <args>
                    <module>Jextn_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </faq>
        </routers>
        <layout>
            <updates>
                <faq>
                    <file>faq.xml</file>
                </faq>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<faq>
				<use>admin</use>
				<args>
					<module>Jextn_Faq</module>
					<frontName>faq</frontName>
				</args>
			</faq>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cms>
				<children>
					<faq module="faq">
						<title>Faq</title>
						<sort_order>71</sort_order>               
						<children>
							<items module="faq">
								<title>Manage FAQ</title>
								<sort_order>0</sort_order>
								<action>faq/adminhtml_faq</action>
							</items>
						</children>
					</faq>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Jextn_Faq>
							<title>Faq Module</title>
							<sort_order>10</sort_order>
						</Jextn_Faq>
						<system>
							<children>
								<config>
									<children>
										<faq>
											<title>FAQ</title>
										</faq>
									</children>
								</config>
							</children>
						</system>
					</children>					
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<faq>
					<file>faq.xml</file>
				</faq>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <faq>
                <class>Jextn_Faq_Model</class>
                <resourceModel>faq_mysql4</resourceModel>
            </faq>
            <faq_mysql4>
                <class>Jextn_Faq_Model_Mysql4</class>
                <entities>
                    <faq>
                        <table>faq</table>
                    </faq>
					<faq_store>
                        <table>faq_store</table>
                    </faq_store>
                </entities>
            </faq_mysql4>
        </models>
        <resources>
            <faq_setup>
                <setup>
                    <module>Jextn_Faq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </faq_setup>
            <faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faq_write>
            <faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faq_read>
        </resources>
        <blocks>
            <faq>
                <class>Jextn_Faq_Block</class>
            </faq>
        </blocks>
        <helpers>
            <faq>
                <class>Jextn_Faq_Helper</class>
            </faq>
        </helpers>
    </global>
	<default>
        <faq>
            <faq>
                <enabled>1</enabled>
            </faq>
        </faq>
    </default>
</config>