.customize-container {width:100%;}
.left-cont {float:left; width:48%;}
#accordion h3 {cursor:pointer;  background: #3F3F3F; border-radius: 9px; margin: 0 0 2px; padding: 4px 10px;}
h3.ui-state-active {margin-bottom: 0 !important;}
#accordion .ui-accordion-content {padding:5px 0;}
.fabrics ul.items-list {height: 200px; width:270px; float: left;}
.contrast-collar-outer-lining .fabrics ul.items-list, .contrast-cuff-outer-lining .fabrics ul.items-list {height: auto; width:auto; float: left;}
.fabrics ul.items-list li {margin:4px; float:left;}
.right-cont {float:right; width:50%; min-height:600px;}
.right-cont #shirt {position:relative; float: right; height: 390px; width: 280px;}
#accordion div#fabricslideimg {float: left;}
#fabricslideimg .zoomfabric {bottom: 0; font-size: 14px; font-weight: bold; position: absolute; right: 0; text-decoration: none;}
.shirt-style .tab_container ul { width: 270px; float:left;}
.shirt-style .tab_container ul li {width:85px; float:left; min-height:98px;}
.shirt-style .tab_container li a{cursor:pointer;}
.shirt-style .shirt-sleeve-style #sleeveslideimg {float: left;}
.shirt-style .shirt-collar-style #collarslideimg {float: left;}
.shirt-style .shirt-cuff-style #cuffslideimg {float: left;}
.shirt-style .shirt-front-style #frontslideimg {float: left;}
.shirt-style .shirt-shoulder-style #shoulderslideimg {float: left;}

.shirt-personalize .tab_container ul { width: 300px; float:left;}
.shirt-personalize .tab_container ul li {width:100px; float:left; text-align:left;}
.shirt-personalize .tab_container li a{cursor:pointer;}
.shirt-personalize .personalize-right { float: right; text-align: left; width: 150px;}
.shirt-personalize .personalize-left {float: left; width: 300px;}
.shirt-personalize .personalize-right #monocolorT {width: 130px;}
.shirt-personalize .personalize-right #labelcolorT {width: 130px;}
.shirt-personalize .personalize-left .CircleActive a img {border: 2px solid #000 !important;}
.shirt-personalize .personalize-left .active .item_selected img {border: 2px solid #000 !important;}


#shirt div img {width:280px;}
.personalize-right .apply-box .btn01 {cursor: pointer; background: #7D0609; color: #fff; text-decoration: none; border-radius: 4px; font-size: 15px; font-weight: bold; padding: 5px 10px;}

